.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .modal {
    width: auto;
    height: auto;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 30vw;
  height: 25vh;
  padding: 1.5em;
  position: relative;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -5px 3px 12px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 3px 12px 0px rgba(0, 0, 0, 0.5);

  h1 {
    position: absolute;
    top: 0px;
    right: 1em;
    color: $purple-soft;
  }

  .message {
    color: $red-soft;
    position: absolute;
    top: 0.5em;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 75%;

    .form-group {
      position: relative;

      label {
        position: absolute;
        top: 1em;
        left: 0.5em;
        opacity: 0;
        z-index: -10;
        color: $purple-soft;
        transition: all 0.2s ease;
        font-weight: bold;
      }
    }

    .input-login {
      margin-top: 1.5em;
      margin-bottom: 1em;
      width: 100%;
      height: 2em;
      line-height: 2em;
      padding: 0 0.5em;
      font-size: 1em;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 1px $blue-darker;
      color: $blue-dark;
      font-weight: bold;

      &:focus {
        outline: none !important;
        border-color: $purple-soft;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &::placeholder {
        color: $purple-soft;
        font-style: italic;
      }

      &:focus + label {
        display: inline;
        opacity: 1;
        top: -1px;
        left: 0px;
        z-index: auto;
        transition: all 0.3s ease;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
    .filled:not(:focus) + label {
      display: inline;
      opacity: 1;
      top: -1px;
      left: 0px;
      color: $grey-soft;
      z-index: auto;
      font-style: italic;
      transition: all 0.2s ease;
    }
  }

  .login-action {
    display: flex;
    margin: 0.5em 0;
    justify-content: space-between;
    align-items: flex-end;

    span {
      display: inline-block;
      font-size: 0.9em;
      font-style: italic;
      color: $blue-dark;
      text-decoration: underline;
      padding-left: 0.5em;
      cursor: pointer;

      &:hover {
        color: $blue-dark;
      }
    }

    button {
      width: 50%;
      height: 2em;
      background-color: $purple-soft;
      color: $white;
      border: solid 1px $purple-soft;
      border-radius: 0.5em;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        background-color: $purple-medium;
      }
      &:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
.reduce {
  width: 5em;
  transition: all 0.3s cubic-bezier(0.73, 0.02, 0.38, 0.99);

  .chevron-icon {
    transform: rotate(180deg);
    transition: all 0.3s cubic-bezier(0.73, 0.02, 0.38, 0.99);
  }

  h1 {
    transform: scale(0.75);
    transition: all 0.2s cubic-bezier(0.73, 0.02, 0.38, 0.99);
  }

  .main-menu-nav svg {
    width: 2.5em !important;
    transition: all 0.2s cubic-bezier(0.73, 0.02, 0.38, 0.99);
  }
}
.expand {
  width: 10vw;
  transition: all 0.3s cubic-bezier(0.73, 0.02, 0.38, 0.99);
}
.main-menu-container {
  height: 95vh;
  background-color: $blue-darker;
  color: $white;
  display: flex;
  flex-direction: column;

  .menu-reduce {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1em;
    color: $white;

    span {
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.73, 0.02, 0.38, 0.99);
    }

    svg {
      fill: $white;
      width: 0.8em;
    }
  }

  .title {
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 1.5em;
      transition: all 0.3s ease-in-out;
    }
  }

  .main-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;

    svg {
      fill: $white;
      width: 2em;
      transition: all 0.3s cubic-bezier(0.73, 0.02, 0.38, 0.99);
    }
  }
}

.header-nav-container {
  width: 100%;
  height: 3em;
  background-color: $white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  border-bottom: solid 1px $blue-dark;

  .header-user {
    margin: 0 1em;
    display: flex;
    color: $blue-darker;

    h2 {
      font-size: 1em;
      margin: 0 1em;
      padding: 0 1em;
      border-left: solid 1px $blue-dark;
      border-right: solid 1px $blue-dark;
    }

    svg {
      width: 0.8em;
      cursor: pointer;
      fill: $blue-dark;
      transition: all 0.2s cubic-bezier(0.73, 0.02, 0.38, 0.99);
    }
  }
}
