// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Colors
$grey-lighter: #fafafa;
$grey-light: #d6d6d6;
$grey-soft: #888888;
$purple-soft: #a548eb;
$purple-medium: #8a0fe6;
$blue-light: #2f99d2;
$blue-medium: #0a8fd6;
$blue-dark: #283144;
$blue-darker: #212939;
$red-soft: #f86868;
$black-light: #373a36;
$black-soft: #1f1f1f;
$white: #fff;

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(184, 38, 236);
  background: linear-gradient(
    61deg,
    rgba(184, 38, 236, 1) 0%,
    rgba(99, 188, 231, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

// Import
@import 'layout.scss';
@import 'components.scss';
@import 'animations.scss';
